// ==========================================================================
// = Variables
// ==========================================================================
$breakpoint-desktop-hd: 1920px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-tablet-portrait: 600px;
$breakpoint-phone: 320px;

$content-max-width: 1280px;
$content-padding: 40px;

// black and white
$color-white: #fff;
$color-black: #000;

// custom colors
$color-background: $color-white;
$color-background-accent: #F2F0EC;
$color-background-dark: #1d2020;
$color-body: #323337;
$color-primary: #c59458;
$color-primary-light: #d7b386;
$color-secondary: #120f55;
$color-error: #d50042;

// transition
$transition-timing: ease-in-out .3s;

//header-height - necessary for mobile
$header-height-mobile: 85px;