// ==========================================================================
// = Variables
// ==========================================================================
$breakpoint-desktop-hd: 1920px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-tablet-portrait: 600px;
$breakpoint-phone: 320px;

$content-max-width: 1810px;
$content-padding: 60px;

// black and white
$color-white: #fff;
$color-black: #000;

// custom colors
$background-color: #fbf8ef;
$color-primary: #3b353b;
$color-secondary: #c59458;
$color-error: #d50042;

// transition
$transition-timing: ease-in-out .3s;